<div class="card" [ngClass]="{ cardNoDisponibility: vehicle.disponibility === Disponibility}">
  <div class="leftDiv">
    <img class="vehiclePic" [src] = "vehicle.vehiclePic" [alt]="vehicle.model">
    <p>{{vehicle.immat}}</p>
    <h2>Etat : {{vehicle.state}}</h2>
  </div>
  <div class="centralDiv">
    <h2>{{vehicle.model}}</h2>
    <h2>{{vehicle.brand}}</h2>
  </div>
  <div class="rightDiv" [ngClass]="{ rightDivNoDisponibility: vehicle.disponibility === Disponibility}">
    <h3>{{vehicle.disponibility}}</h3>
    <h1>{{vehicle.price | currency: 'EUR'}}</h1>
    <button (click)="modifyVehicle()" >Modifier</button>
    <button class="deleteButton" (click)="deleteVehicle()">Supprimer</button>
  </div>
</div>
