<div class="headerContainer">
  <a routerLink=""><img [src] = "logoSrc" alt="Localib"></a>
</div>
<nav class="navigation">
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
  <a routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Clients</a>
  <a routerLink="vehicles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Véhicules</a>
  <a routerLink="rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Locations</a>
</nav>
